@using Fireteam.Common.Helpers
@model IEnumerable<Fireteam.Models.Group>

@{
    ViewData["Title"] = "Group List";
}

<link rel="stylesheet" lang="text/css" href="~/css/groups.css" />

<h2>Activities</h2>

<div class="container-fluid">

    <button id="create-button" class="btn btn-primary btn-round" asp-action="Create New">
        <i class="material-icons">add</i> Create New
    </button>
    
    @{
        foreach (var item in Model)
        {
            <div class="container-fluid">
                <div class="row">
                    <div class="card">
                        <div class="card-header" data-background-color="purple">
                            <h4 class="card-title">
                                <span>@Html.DisplayFor(modelItem => item.Name)</span><br />
                            </h4>
                        </div>
                        <div class="card-content">
                            <div class="row">
                                <div class="form-group label-floating">
                                    <label class="control-label">
                                        Description
                                    </label>
                                    <textarea class="form-control" name="description" rows="2" disabled>@Html.DisplayFor(modelItem => item.Description)</textarea>
                                </div>
                            </div>
                            <div class="form-group label-floating">
                                <label class="control-label">
                                    Group Type
                                </label>
                                <textarea class="form-control" name="requirements" rows="2" disabled>@Html.DisplayFor(modelItem => item.GroupType.Name)</textarea>
                            </div>
                            <div class="row">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="isHidden" checked="@item.IsHidden" disabled="disabled">
                                        Is Public?
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="isInviteOnly" checked="@item.IsInviteOnly" disabled="disabled">
                                        Is Invite Only?
                                    </label>
                                </div>
                                <div class="form-actions pull right">
                                    <button id="edit-button" class="btn btn-info" data-item-id="@item.ID">EDIT</button>
                                    <button id="view-button" class="btn btn-primary" data-item-id="@item.ID">DETAILS</button>
                                    <button id="delete-button" class="btn btn-danger" data-item-id="@item.ID">DELETE</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    
</div>

<script type="text/javascript" src="lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="js/activity-users.js"></script>