@model IEnumerable<Fireteam.Models.Activity>

@{
    ViewData["Title"] = "Index";
}

    <div class="row">
    <div class="col-md-8">
    <div class="card">
    <div class="card-header card-header-icon" data-background-color="rose">
        <i class="material-icons">dashboard</i>
    </div>
    <div class="card-content">
    <h4 class="card-title">List Activity -
        <small class="category"></small>
    </h4>
<p>
    <a asp-action="Create">Create New</a>
</p>
    <table class="table">
    <thead>
    <tr>
            <th>
                @Html.DisplayNameFor(model => model.AvailableSlots)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservedSlots)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeZone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsHidden)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsInviteOnly)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requirements)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivityType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Game)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Group)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Organizer)
        </th>
    <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
    <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableSlots)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReservedSlots)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeZone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsHidden)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsInviteOnly)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Requirements)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivityType.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Game.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Group.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Organizer.ID)
        </td>
        <td>
        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
        </td>
    </tr>
    }
    </tbody>
    </table>
    </div>
    </div>
    </div>
    </div>
